<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container">
        <% include ../partials/header %>

        <main>
            <h2><%= type %></h2>
            <hr/>
            <ul>
                <% questions.forEach(function(question) { %>
                    <li><a href="/questions/<%=question.id%>"><%= question.title%></a></li>                
                <% }) %>
            </ul>
        </main>
    </div>

</html>